<div id="main-container">
  <h1>Stock Prophet</h1>
  <div id="options">

    <mat-form-field>
      <mat-label>Stock Code</mat-label>
      <input matInput type="text" [(ngModel)]="stockCode" name="stockCode" id="stock-code">
    </mat-form-field>

    <mat-form-field id="period-field">
      <mat-label>Select period</mat-label>
      <mat-select [(value)]="selectedPeriod" id="period-select">
        <mat-option value="hourly">Hourly</mat-option>
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weekly">Weekly</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="model-field">
      <mat-label>Select model</mat-label>
      <mat-select [(value)]="selectedModel" id="model-select">
        <mat-option value="LinearRegression">Linear Regression</mat-option>
        <mat-option value="DecisionTrees">Decision Trees</mat-option>
        <mat-option value="NeuralNetworks">Neural Network</mat-option>
        <mat-option value="SVM">Support Vector Machine</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      id="prediction-button"
      mat-button
      (click)="predict()">
      Predict
    </button>
  </div>

  <h2 id="welcome-message" *ngIf="!this.openChart">Welcome to Stock Prophet! <br> To begin analyzing stock performance with our predictive models, please enter your stock code, choose period and model. Then hit the 'Predict' button. This will generate a set of interactive charts for your viewing and analysis.</h2>

  <h2 *ngIf="this.openChart">Open</h2>
  <div class="chart-container">
    <canvas id="OpenChart" >{{ openChart }}</canvas>
  </div>
  <div class="error-container" *ngIf="this.openChart">
    <h3>Library error: {{ response.open.errorLibrary.toFixed(3) }}</h3>
    <h3>Custom error: {{ response.open.errorCustom.toFixed(3) }}</h3>
  </div>

  <h2 *ngIf="this.closeChart">Close</h2>
  <div class="chart-container">
    <canvas id="CloseChart" >{{ closeChart }}</canvas>
  </div>
  <div class="error-container" *ngIf="this.closeChart">
    <h3>Library error: {{ response.close.errorLibrary.toFixed(3) }}</h3>
    <h3>Custom error: {{ response.close.errorCustom.toFixed(3) }}</h3>
  </div>

  <h2 *ngIf="this.highChart">High</h2>
  <div class="chart-container">
    <canvas id="HighChart" >{{ highChart }}</canvas>
  </div>
  <div class="error-container" *ngIf="this.highChart">
    <h3>Library error: {{ response.high.errorLibrary.toFixed(3) }}</h3>
    <h3>Custom error: {{ response.high.errorCustom.toFixed(3) }}</h3>
  </div>

  <h2 *ngIf="this.lowChart">Low</h2>
  <div class="chart-container">
    <canvas id="LowChart" >{{ lowChart }}</canvas>
  </div>
  <div class="error-container" *ngIf="this.lowChart">
    <h3>Library error: {{ response.low.errorLibrary.toFixed(3) }}</h3>
    <h3>Custom error: {{ response.low.errorCustom.toFixed(3) }}</h3>
  </div>

  <!-- <h2 *ngIf="this.volumeChart">Volume</h2>
  <div class="chart-container">
    <canvas id="VolumeChart" >{{ volumeChart }}</canvas>
  </div>
  <div class="error-container" *ngIf="this.volumeChart">
    <h3>Library error: {{ response.volume.errorLibrary.toFixed(3) }}</h3>
    <h3>Custom error: {{ response.volume.errorCustom.toFixed(3) }}</h3>
  </div> -->
</div>